{% extends 'MainTemplate.html' %}

{% block content %}

<style>
    .home-container{
        display:grid;
        grid-template-columns: 1fr 3fr 1fr;
    }


</style>

<div class="home-container">

    <div>
        {% include 'base/Topics_Component.html'%}
    </div>

    <div>
        <h5>Rooms Available {{rooms_count}}</h5>
        <a href="{% url 'create-room' %}">Create Room</a>
        {% include 'base/Feed_Component.html' %}
    </div>

    <div>
        {% include 'base/Activity_Component.html' %}
    </div>

</div>


{% endblock %}